version: "3"

vars:
  NAMESPACE: wsgw-e2e

tasks:
  userdb:
    cmds:
      - |
        password_base=crixcrax
        nr_users=3

        pwcreds="["
        for nummer in $(seq 1 32); do
          if test $nummer -gt 1; then
            pwcreds="${pwcreds},"
          fi
          pwcreds="${pwcreds}{\"username\":\"user${nummer}\",\"password\":\"${password_base}${nummer}\"}"
        done
        pwcreds="${pwcreds}]"
        echo "pwcreds: $pwcreds"

        if ! kubectl -n {{.NAMESPACE}} get secrets wsgw-e2e-app-users > /dev/null;
        then
          kubectl -n {{.NAMESPACE}} create secret generic wsgw-e2e-app-users "--from-literal=PASSWORD_CREDENTIALS=$pwcreds"
        fi
  app:
    deps: [userdb]
    cmds:
      - |
        kubectl -n {{.NAMESPACE}} apply -f ./e2e-app.yaml

        echo "==== Rescaling wsgw-e2e-app, maybe...."
        app_scale="{{.E2EAPP_SCALE}}"
        if [ -z "$app_scale" ]; then
          echo "E2EAPP_SCALE not set; redploying wsgw-e2e-app with the current scale..."
          kubectl -n {{.NAMESPACE}} rollout restart deployment wsgw-e2e-app
        else
          echo "Rescaling wsgw-e2e-app to $app_scale"
          kubectl -n {{.NAMESPACE}} scale deployment wsgw-e2e-app --replicas 0
          kubectl -n {{.NAMESPACE}} scale deployment wsgw-e2e-app --replicas $app_scale
        fi
  client:
    deps: [userdb]
    cmds:
      - |
        kubectl -n {{.NAMESPACE}} apply -f ./e2e-client.yaml

        echo "==== Rescaling wsgw-e2e-client, maybe...."
        client_scale="{{.E2ECLIENT_SCALE}}"
        if [ -z "$client_scale" ]; then
          echo "E2ECLIENT_SCALE not set; redploying wsgw-e2e-client with the current scale..."
          kubectl -n {{.NAMESPACE}} rollout restart deployment wsgw-e2e-client
        else
          echo "Rescaling wsgw-e2e-client to $client_scale"
          kubectl -n {{.NAMESPACE}} scale deployment wsgw-e2e-client --replicas 0
          kubectl -n {{.NAMESPACE}} scale deployment wsgw-e2e-client --replicas $client_scale
        fi
  contour:
    cmds:
      - |
        kubectl apply -f contour-httpproxy.yaml
